# --- iOS / Xcode ---
DerivedData/
build/
*.xcuserdatad
*.xcscmblueprint
*.xccheckout
*.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (if used)
Pods/

# Fastlane artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Xcode workspace metadata
*.xcworkspace/xcuserdata/
